parameters:
    level: 5
    paths:
        - ./src/
    excludePaths:
        - ./shops
        - ./vendor
        - ./node_modules
    bootstrapFiles:
        - ./phpstanBootstrap-7.1.php
    scanDirectories:
        - ./shops/7.1/vendor/oxid-esales/oxideshop-unified-namespace-generator/generated
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\User::\\$#"
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\Address::\\$#"
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\Country::\\$#"
        - message: "#^Access to an undefined property OxidEsales\\\\Eshop\\\\Application\\\\Model\\\\Order::\\$#"
        - message: "#^Access to an undefined property Endereco\\\\Oxid7Client\\\\Model\\\\Order::\\$#"
